html  
  head
  body
    ul
    for user in users
       li= "user name: " + user._id
       li= "first name: " + user.firstName
       li= "last name: " + user.lastName
       li= "birth date: " + user.birthDate
       li= "postal code: " + user.postalCode
       li= "house number: " + user.houseNumber
       li= "-----------------------------------"
     
